<!-- FOOTER -->

<footer>
  <div class="container">

    <div class="row">
      <div class="col-md-9 col-sm-12">
        <h3>Global Cities Free of Slavery</h3>
        <p><i>A UK Global Challenges Research Fund project funded by UKRI</i>.</p>
      </div>
      <div class="col-md-3 col-sm-12 GCRF">
        <a  href="https://www.ukri.org/research/global-challenges-research-fund/"><img src="/images/GCRF.png" alt="GCRF logo"/></a>
      </div>
    </div>

<!--
    <div class="row map">
      <div class="col">
        <div style="xheight: 500px">Map showing the 4 cities</div>
        <img src="/images/worldmap.png" style="width:60%; opacity: 0.6"/>
      </div>
    </div>
-->

    <div class="row logos">
      <div class="col">
      <!--  from datafile file   -->
      {% for logo in site.data.logos %}
        <a href="{{ logo.Link }}"><img src="{{ logo.Image }}" alt="{{ logo.Alt }}"></a>
      {% endfor %}
      </div>
    </div>  <!-- end row -->

  </div>
</footer>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ "/vendor/jquery-3.3.1.slim.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/popper.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/bootstrap-4.3.1.min.js " | prepend: site.baseurl }}"></script>

{% if page.customjs %}
<!-- custom js -->
{% for jsfile in page.customjs %}
<script src='{{ jsfile | prepend: site.baseurl }}' type="text/javascript"></script>
{% endfor %}
{% endif %}

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74356418-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-xxx-x');
</script>
