
<div class="row">
  {% for report in site.data.reports %}
  <div class="col-lg-6 col-md-12 col-sm-12 pb-4" >
    <div class="card report" >
      <div class="row no-gutters">
        <div class="col-4">
          <img src="{{ report.Thumbnail }}" class="card-img" alt="report thumbnail">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">{{ report.Title }}</h5>
            <p class="card-date">{{ report.Date }}</p>
            <p class="card-text">{{ report.Description }}</p>
          </div>
          <div class="card-footer">
            <a href="{{ report.Download }}" class="btn btn-primary"> <i class="far fa-file-pdf"></i> View report </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
