/* my styles */

body            {background: #f2f2f2}

/* header & footer */
.bg-dark              {background-color: #00263b !important;}
.navbar               {padding: 0.1rem 1rem}
.navbar-toggler-icon  {width: 1em; height: 1em}
.navbar-toggler       {margin: 0.2rem; padding: .25rem .5rem}
.navbar-dark .navbar-brand {color: rgba(206,238,255,0.5)}
.nav-item             {margin-left: 10px}
#home .navbar-brand   {display: none}

.header         { background-size: cover; height: 400px; padding-top: 20px; border-bottom: 0; margin-bottom: 30px}
.home           {background: url(/images/city.jpg) no-repeat top center;}
.other          {background: url(/images/city.jpg) no-repeat center center; height: 200px;}
.Nottingham     {background: url(/images/Nottingham.jpg) no-repeat top center;}
.Rio            {background: url(/images/Rio.jpg) no-repeat top left;}
.Bangkok        {background: url(/images/Bangkok.jpg) no-repeat center left;}
.Maputo        {background: url(/images/Maputo.jpg) no-repeat center 75%;}

.header .title  {color: white; /*background: rgba(204, 204, 204, 0.8);*/ padding: 10px; }
.title p        {margin-botton: 0}

footer          {background: #c3c3c3; padding: 50px 0; margin-top: 30px;}
.prefooter      {background: #CCC; margin-top: 20px;  margin-bottom: -30px; padding-bottom: 30px;}
footer img      {max-width: 100%}
.GCRF           {text-align: right}
.GCRF img       {max-height: 100px; border: 10px solid white;}
.logos          {margin-top: 60px; text-align: center; }
.logos img      { max-height: 180px;  max-width: 240px; vertical-align: middle; padding: 20px 30px;}
.smallprint     {padding-top: 60px; text-align: right; font-size: 80%; font-style: italic;}
.smallprint a   {color: #212529; }

/* standard */
h2              {margin-top: 50px}
.intro          {font-size: 120%}

.btn-primary    { color: #fff; background-color: #2898DA; border-color: #2898DA; }
a               {color: #2898DA}

/* cards */
.card           {border: none; border-radius: 0}
.city           {min-height: 380px}
.city i         {padding-left: 5px;}
.card-title     {text-align: left}
.card-text      {text-align: left; font-size: 90%}
.card-img-top   {max-height: 140px; width:auto; object-fit: cover; border-top-left-radius: 0; border-top-right-radius: 0}
.card-body      {padding-bottom: 0.5rem}
.card-footer    {padding-top: 0; background-color: inherit; border-top: 0}

.report .card-title   {margin-bottom: 0px}
.report .card-img     {height:100%; object-fit: cover; top:0; border-radius: 0;}
.card-date            {font-size: 90%; font-style: italic; color: #666}
.report i             {padding-right: 5px;}

.person               {min-height: 300px}
.person img           {margin: 20px auto 0px; width: 140px}
.person .fa-user      {color: #ccc; margin: 40px auto 20px; font-size: 100px}
.person .card-title   {margin-bottom: 0}



/* larger devices */

@media (min-width:  768px) {
  /* center so less sky */
  .header         { background-size: cover; height: 500px; padding-top: 20px; border-bottom: 0; margin-bottom: 30px}
  .home           {background: url(/images/city.jpg) no-repeat center center;}
  .other          {background: url(/images/city.jpg) no-repeat center center; height: 300px;}
  .Nottingham     {background: url(/images/Nottingham.jpg) no-repeat center center;}
  .Rio            {background: url(/images/Rio.jpg) no-repeat center center;}
  .Bangkok        {background: url(/images/Bangkok.jpg) no-repeat center center;}
  .Maputo        {background: url(/images/Maputo.jpg) no-repeat center center;}
}


@media (min-width:  992px) {
  /* bottom so even less sky */
  .header         { background-size: cover; height: 500px; padding-top: 20px; border-bottom: 0; margin-bottom: 30px}
  .home           {background: url(/images/city.jpg) no-repeat bottom center;}
  .other          {background: url(/images/city.jpg) no-repeat center center; height: 300px;}
  .Nottingham     {background: url(/images/Nottingham.jpg) no-repeat center center;}
  .Rio            {background: url(/images/Rio.jpg) no-repeat center center;}
  .Bangkok        {background: url(/images/Bangkok.jpg) no-repeat bottom center;}
  .Maputo        {background: url(/images/Maputo.jpg) no-repeat bottom center;}
  .header .title  {width: 70%;}
}


@media (min-width: 1200px) {
  .header .title  {width: 50%;}
}


/* cookie alert */
.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline;
    color: inherit;
}

.cookiealert button {
    margin-left: 15px;
    vertical-align: baseline;
}



/*
 * Font Awesome Free 5.8.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 Need to include /vendor/fontawesome-5.8.1.min.css too
 */
@font-face {
 font-family: 'Font Awesome 5 Free';
 font-style: normal;
 font-weight: 400;
 font-display: auto;
 src: url("../vendor/fa-regular-400.eot");
 src: url("../vendor/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-regular-400.woff2") format("woff2"), url("../vendor/fa-regular-400.woff") format("woff"), url("../vendor/fa-regular-400.ttf") format("truetype"), url("../vendor/fa-regular-400.svg#fontawesome") format("svg"); }
.far {
 font-family: 'Font Awesome 5 Free';
 font-weight: 400; }

@font-face {
 font-family: 'Font Awesome 5 Free';
 font-style: normal;
 font-weight: 900;
 font-display: auto;
 src: url("../vendor/fa-solid-900.eot");
 src: url("../vendor/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-solid-900.woff2") format("woff2"), url("../vendor/fa-solid-900.woff") format("woff"), url("../vendor/fa-solid-900.ttf") format("truetype"), url("../vendor/fa-solid-900.svg#fontawesome") format("svg"); }
.fa,
.fas {
 font-family: 'Font Awesome 5 Free';
 font-weight: 900; }

@font-face {
 font-family: 'Font Awesome 5 Brands';
 font-style: normal;
 font-weight: normal;
 font-display: auto;
 src: url("../vendor/fa-brands-400.eot");
 src: url("../vendor/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-brands-400.woff2") format("woff2"), url("../vendor/fa-brands-400.woff") format("woff"), url("../vendor/fa-brands-400.ttf") format("truetype"), url("../vendor/fa-brands-400.svg#fontawesome") format("svg"); }
.fab {
 font-family: 'Font Awesome 5 Brands'; }
