/* my styles */

body            {background: #f2f2f2}

.header         { background-size: cover; min-height: 500px; padding-top: 20px; border-bottom: 0; margin-bottom: 30px}
.home           {background: url(/images/city.jpg) no-repeat center center;}
.Nottingham     {background: url(/images/Nottingham.jpg) no-repeat center center;}
.Rio            {background: url(/images/Rio.jpg) no-repeat center center;}
.Bangkok        {background: url(/images/Bangkok.jpg) no-repeat center center;}


.header .title  {width: 50%; color: white; /*background: rgba(204, 204, 204, 0.8);*/ padding: 10px; }
.title p        {margin-botton: 0}

footer          {background: #c3c3c3; padding: 50px 0}
.prefooter      {background: #CCC}
footer img      {max-width: 100%}


/* standard */
h2              {margin-top: 30px}
.intro          {font-size: 120%}


/* cards */
.card           {border: none; border-radius: 0}
.city           {min-height: 380px}
.card-title     {text-align: left}
.card-text      {text-align: left; font-size: 90%}
.card-img-top   {max-height: 140px; width:auto; object-fit: cover; border-top-left-radius: 0; border-top-right-radius: 0}
.card-body      {padding-bottom: 0.5rem}
.card-footer    {padding-top: 0; background-color: inherit; border-top: 0}

.person               {min-height: 300px}
.person img           {margin: 20px auto 0px; width: 140px}
.person .card-title   {margin-bottom: 0}






/*
 * Font Awesome Free 5.8.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 Need to include /vendor/fontawesome-5.8.1.min.css too
 */
@font-face {
 font-family: 'Font Awesome 5 Free';
 font-style: normal;
 font-weight: 400;
 font-display: auto;
 src: url("../vendor/fa-regular-400.eot");
 src: url("../vendor/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-regular-400.woff2") format("woff2"), url("../vendor/fa-regular-400.woff") format("woff"), url("../vendor/fa-regular-400.ttf") format("truetype"), url("../vendor/fa-regular-400.svg#fontawesome") format("svg"); }
.far {
 font-family: 'Font Awesome 5 Free';
 font-weight: 400; }

@font-face {
 font-family: 'Font Awesome 5 Free';
 font-style: normal;
 font-weight: 900;
 font-display: auto;
 src: url("../vendor/fa-solid-900.eot");
 src: url("../vendor/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-solid-900.woff2") format("woff2"), url("../vendor/fa-solid-900.woff") format("woff"), url("../vendor/fa-solid-900.ttf") format("truetype"), url("../vendor/fa-solid-900.svg#fontawesome") format("svg"); }
.fa,
.fas {
 font-family: 'Font Awesome 5 Free';
 font-weight: 900; }

@font-face {
 font-family: 'Font Awesome 5 Brands';
 font-style: normal;
 font-weight: normal;
 font-display: auto;
 src: url("../vendor/fa-brands-400.eot");
 src: url("../vendor/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-brands-400.woff2") format("woff2"), url("../vendor/fa-brands-400.woff") format("woff"), url("../vendor/fa-brands-400.ttf") format("truetype"), url("../vendor/fa-brands-400.svg#fontawesome") format("svg"); }
.fab {
 font-family: 'Font Awesome 5 Brands'; }
