<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

  <!-- HEADER -->
  <div class="header {{ page.title }}">
    <div class="container">
      <div class="title">
        <h1>{{ page.title }}</h1>
        <p class="hidden-xs">{{ page.country }}</p>
      </div>
    </div>
  </div>


  <!-- CONTENT -->
  <div class="container">


{{ content }}



  <!-- PEOPLE CARDS -->
  <div class="row">
    <div class="col-lg">
      <h2>People</h2>
    </div>
  </div> <!-- end row -->

  <div class="row">
    <!--  filter for this city...   -->
    {% assign people = site.data.people | where: "City", page.city %}
    {% for person in people %}
    <div class="col-lg-3 col-md-6 col-sm-12 pb-4" >
      <div class="card person" >
        {% if person.Image %}
        <img src="{{ person.Image }}" class="rounded-circle" alt="photo">
        {% else %}
        <i class="far fa-user"></i>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ person.Name }}</h5>
          <p class="card-text">{{ person.Uni }}<br/>
          {% if person.Link %}
          <a href="{{ person.Link }}" >University profile <i class="fas fa-angle-right"></i></a>
          {% endif %}
          </p>
        </div>
      </div>
    </div>  <!-- end col -->
    {% endfor %}
  </div>  <!-- end row -->

</div> <!-- end container -->




<div class="prefooter">
  <div class="container">
    <!-- CITIES CARDS -->
{% include cities.html %}
  </div>
</div>


{% include footer.html %}

</body>
</html>
